.jumbotron{
    background: none;
    text-align: center;   
}

.sectionLight{
    background-color: #eceeef;
    padding: 2em;
}

.sectionDark{
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffWrapper{
    margin-top: 20px;
}

button.coolStuffBtn{
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.modal-title{
    margin: auto;
}

.modalFormWrapper{
    padding: 2rem;
}

.img-center, .btn-center{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 50%;
}

.footerImg{
    padding: 15px;
}

.fab{
    margin: 10px;

}

.fa-facebook-square{
    color: #3b5998;
}
.fa-twitch{
    color: purple;
}
.fa-instagram{
    color: red;
}
.socialWrapper{
    margin: auto;
    
}

